<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration>
    <session-factory>
<!--        <property name="hibernate.hbm2ddl.auto">create</property> -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">concert</property>
        <property name="hibernate.connection.password">iu-concert</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/102204139?allowPublicKeyRetrieval=true&amp;useSSL=false</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>

         <mapping class="com.shweit.cinema.model.Concert" />
         <mapping class="com.shweit.cinema.model.Ticket" />
         <mapping class="com.shweit.cinema.model.Venue" />
         <mapping class="com.shweit.cinema.model.Billing" />
    </session-factory>
</hibernate-configuration>